django==5.2.3
djangorestframework==3.16
llama-cpp-python==0.3.9
langchain-core==0.3.65
langchain-community==0.3.25
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
langchain-weaviate==0.0.5
langchain-openai==0.3.22
pdfplumber==0.11.7
six==1.17.0
weaviate-client==4.15.0
langgraph-checkpoint-sqlite==2.0.10
tavily-python==0.7.5
langgraph==0.4.8
