django==5.2.3
djangorestframework==3.16
llama-cpp-python==0.3.8
langchain-core==0.3.56
langchain-community==0.3.23
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
langchain-weaviate==0.0.4
langchain-openai==0.3.14
pdfplumber==0.11.4
six==1.17.0
weaviate-client==4.14.1
langgraph-checkpoint-sqlite==2.0.6
tavily-python==0.7.0
langgraph==0.4.0
