Django==5.2.11
djangorestframework==3.16
llama-cpp-python==0.3.16
langchain==1.2.0
langchain-core==1.2.5
langchain-community==0.4.1
langchain-huggingface==1.2.0
langchain-text-splitters==1.1.0
langchain-google-vertexai==2.1.2
langchain-weaviate==0.0.5
langchain-openai==1.1.6
transformers==4.57.0
pdfplumber==0.11.7
six==1.17.0
weaviate-client==4.16.4
langgraph==1.0.2
langgraph-checkpoint==3.0.1
langgraph-checkpoint-sqlite==3.0.1
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.6.3
tavily-python==0.7.10










